
.indentedMessage {
    margin-left: 10px;
}

.messageFrame {
    display: block;
    padding: 9.5px;
    margin: 10px 0 10px;
    font-size: 13px;
    line-height: 1.428571429;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.normalMessage{
    margin: 0 0 10px;
    /*to add appropriate gaps*/
}

.repeatCommandMessage {
    color: grey;
    margin: 0 0 10px;
    /*to add appropriate gaps*/
}


.descriptionMessage {

}

.greetingMessage {

}

.informationMessage {
    color: blue;
}

/*encourages user to act*/
.encouragingMessage {
    color: orange;
}

.attentionMessage {
    color: red;
}

.monsterNameMessage {
    color: #CC0000;
}

.monsterDescriptionMessage {
    color: #CC0033;
}

.secretMessage {
    color: purple;
}

.battleMessage {
    color: #CC0000;
}

