{% extends "default.html" %}

{% block content %}

    <script type="text/javascript">

        $(document).ready(function () {

            $("#createWorld").on("click", function (e) {

                $("#worldWasCreatedInfo").hide();

                var link = this;

                e.preventDefault();

                $("#worldIsCreating").show();
                window.location = link.href;
            });

            $("#createMap").on("click", function (e) {

                $("#worldWasCreatedInfo").hide();

                var link = this;

                e.preventDefault();

                $("#mapIsCreating").show();
                window.location = link.href;
            });

        });

    </script>

     {% for msg in results %}
        {{ msg }} <br/>
    {% endfor %}
    <br/>

    <p id="worldIsCreating" style="display:none">
        Trwa tworzenie <b>Świata</b>. Proszę czekać.
    </p>

    <p id="mapIsCreating" style="display:none">
        Trwa tworzenie <b>Mapy</b>. Proszę czekać.
    </p>

    {% block accomplish_info %}
    {% endblock %}

    1) <a href="/admin/">Przejdź do panelu bazy danych</a> <br> <br>
    2) <a id="createWorld" href="/create/world/">Stwórz Świat</a> <br>
{#    3) <a id="createMap" href="/create/map/">Stwórz Mapę</a> <br>#}
    3) <a id="createMap" href="/choose/backup/">Stwórz Backup Świata</a> <br>
    4) <a id="createMap" href="/restore/backup/choose/">Przywróć Backup Świata</a> <br>
    5) <a href="/game/">Przejdź do głównego widoku</a> <br>
    6) <a href="/logout/">Wyloguj</a> <br>

{% endblock %}