{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="{% static "css/bootstrap/bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/bootstrap/bootstrap-responsive.css" %}" />
    <link rel="stylesheet" href="{% static "css/bootstrap/bootstrap-theme.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/templates/main.css" %}" />
    <link rel="stylesheet" href="{% static "css/templates/commands.css" %}" />
    <link rel="stylesheet" href="{% static "css/reveal-modal/reveal.css" %}" />

    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery-1.11.0.min.js" %}"></script>

    {% block head %}
    {% endblock %}

</head>
<body>

    {% block content %}
    {% endblock %}

</body>
</html>