{% extends "default.html" %}
{% load staticfiles %}

{% block head %}
    <script src="{% static "js/reveal-modal/jquery.reveal.js" %}"></script>
    <script src="{% static "js/templates/game/game_layout.js" %}"></script>
    <script src="{% static "js/templates/game/game_history.js" %}"></script>
    <script src="{% static "js/templates/game/game_websocket.js" %}"></script>
    <script src="{% static "js/templates/game.js" %}"></script>

{% endblock %}

{% block content %}

    {% if superuser %}

        {% include 'create.html' %}

    {% else %}

        <script type="text/javascript">

            my_timeout = {{ timeout }};

            $(document).ready(function () {

                $('#consoleInput').on('keyup', function (e) {
                    if (e.keyCode == 40 || e.keyCode == 38) {
                        return moveCursorToEnd(this);
                    }
                    return null;
                });

                $(this).keyup(function (e) {
                    if (e.which == 13) {
                        $('.close-reveal-modal').click();
                    }
                });

                $("#consoleInput").focus(function () {
                    $(this).keyup(function (e) {
                        if (e.which == 13) {
                            $('#commandBtn').trigger('click');
                        }
                    });
                });

                {% if greetingMessage %}

                    /*greeting information appears when user logs in */

                    var greetingDiv = $("#greetingInformationDiv");
                    greetingDiv.show();

                    var greetingMessage = "{{ greetingMessage|safe }}";
                    var locationMessage = "{{ locationMessage|safe }}";

                    greetingDiv.append(greetingMessage);
                    greetingDiv.append("<br>");
                    greetingDiv.append("<br>");
                    greetingDiv.append(locationMessage);

                {% endif %}

                {% for key,value in itemParamList.items %}

                    var value = "{{ value }}";

                    $("#item_mod_{{ key }}").removeClass("greenInfo");
                    $("#item_mod_{{ key }}").removeClass("redInfo");

                    if (value > 0) {
                        $("#item_mod_{{ key }}").addClass("greenInfo");
                        $("#item_mod_{{ key }}").html("+" +{{ value }})
                    }
                    else if (value < 0) {
                        $("#item_mod_{{ key }}").addClass("redInfo");
                        $("#item_mod_{{ key }}").html({{ value }})
                    }

                {% endfor %}

                initialiseWebsocket();
                browsingHistory();

            });

        </script>

        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

            <nav class="collapse navbar-collapse">
                <ul class="nav navbar-nav">

                    <li>
                        <!-- <img id="gameLogo" src="" alt="MUD_LOGO">-->

                    </li>

                    <li>
                    <span id="welcomeMessage" class="navbar-brand">
                        Witaj <span id="playerNick">{{ nick }}</span>
                    </span>
                    </li>


                    {% for attr in attrList %}
                        <li>
                    <span class="navbar-brand parametersList">
                        {{ attr.attribute.name }}: <span id="attr_{{ attr.pk }}">{{ attr.current_state }}</span> / <span
                            id="attr_max_{{ attr.pk }}">{{ attr.max_state }}</span><span
                            style="margin-left:5px" id="attr_mod_{{ attr.pk }}"></span>
                    </span>
                        </li>

                    {% endfor %}


                    {% for param in paramlist %}
                        <li>
                    <span class="navbar-brand parametersList">
                        {{ param.parameter }}: <span id="param_{{ param.pk }}">{{ param.state }}</span><span
                            style="margin-left:5px" id="item_mod_{{ param.pk }}"></span>
                    </span>
                        </li>

                    {% endfor %}

                    <li>
                    <span id="armorMessage" class="navbar-brand">
                        Pancerz: <span id="armorMessage-val">{{ armor }}</span>
                    </span>
                    </li>

                    <li>
                    <span id="xpMessage" class="navbar-brand">
                        Doświadczenie: {{ experience }}
                    </span>
                    </li>

                    <li>
                    <span id="lvlMessage" class="navbar-brand">
                        Poziom: {{ level }}
                    </span>
                    </li>

                    <li>
                    <span id="goldMessage" class="navbar-brand">
                        {{ gold_name }}: <span id="goldMessage-val">{{ gold }}</span>
                    </span>
                    </li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a id="logOutLink" href="/logout/">WYLOGUJ <span class="glyphicon glyphicon-off"></span></a>
                    </li>
                </ul>
            </nav>

        </div>

        <div class="gameSpace">

            <div id="gamePanel" class="panel panel-primary">

                <div id="panelHeading" class="panel-heading">
                    <center>
                        <a href="#" id="revealModalButtonResponse" data-reveal-id="responseDiv" data-animation="fade"
                           style="color:yellow;font-size:large">
                            Pozostaw opinię
                        </a>
                    </center>
                </div>

                <div id="storyContent" class="panel-body">
                    <div id="greetingInformationDiv" class="messageFrame"></div>
                </div>

            </div>

            <div id="commandDiv" class="form-group">
                <div class="input-group">

                    <input id="consoleInput" type="text" class="form-control">

                  <span class="input-group-btn">
                    <button class="btn btn-default" id="commandBtn" onclick="commandExe()" type="button">
                        Wyślij!
                    </button>
                  </span>
                </div>
            </div>

        </div>

        <div id="responseDiv" class="reveal-modal middleDiv">

            <center><h3>Pozostaw nam swoją opinię o aktualnej wersji MUDA</h3></center>

            <form>

                <textarea name="reportResponse" id="reportResponse" cols="110" rows="20">Twoje
                    uwagi...</textarea><br><br>
                <center>
                    <input type="button" onclick="sendMessage();" id="submitResponse" style="width:200px;height:40px"
                           value="Wyślij">
                </center>

            </form>

        </div>

{#        {% include 'map.html' %}#}

    {% endif %}

{% endblock %}

