{% extends "default.html" %}

{% block content %}

    <script type="text/javascript">
        $(document).ready(function(){

            $("#logAsAdmin").click(function(){
                $("#username").val('root');
                $("#password").val('root');
                $("#loginButton").click();
            });

            $("#logAsPP").click(function(){
                $("#username").val('pp');
                $("#password").val('pp');
                $("#loginButton").click();
            });

            $("#logAsQQ").click(function(){
                $("#username").val('qq');
                $("#password").val('qq');
                $("#loginButton").click();
            });

            $("#logAsRR").click(function(){
                $("#username").val('rr');
                $("#password").val('rr');
                $("#loginButton").click();
            });

        });

        $(document).keyup(function (e) {
            if (e.which == 13) {
                $('#loginButton').trigger('click');
            }
        });
    </script>

    <p id="logAsAdmin" align="left" style="color:white;">Zaloguj jako administrator</p>
    <p id="logAsPP" align="left" style="color:white;">Zaloguj jako pp</p>
    <p id="logAsQQ" align="left" style="color:white;">Zaloguj jako qq</p>
    <p id="logAsRR" align="left" style="color:white;">Zaloguj jako rr</p>

    <div class="mainFormDiv" align="center">

        <div class="errorMessage">
            {{ message }}
        </div>

        <form id="loginForm" action="/login/" method="post">{% csrf_token %}
            <h2>Panel logowania</h2>
            <input class="form-control" type="text" name="username" value="" id="username" required="required"
                   placeholder="Login" autofocus>
            <input class="form-control" type="password" name="password" value="" id="password" required="required"
                   placeholder="Hasło">

            <input type="submit" id="loginButton" value="Zaloguj się"
                   class="btn btn-lg btn-primary btn-block">

            <input type="button" onclick="location.href = '/register/'" class="btn btn-default btn-lg btn-block"
                   value="Zarejestruj">
        </form>

    </div>


{% endblock %}